:root {
    --gray: #f1f1f1;
    --black: #000000;
    --green: #9dc73b;
    --white: #ffffff;
    --dark: #333333;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray);
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: var(--green);
    height: auto;
}

.header-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item:hover {
    background-color: var(--dark);
}

.menu-a {
    display: flex;
    margin: 20px;
    text-decoration: none;
    color: var(--gray);
    font-weight: 600;
    letter-spacing: 2px;
}

.hero-section {
    margin: auto;
}

.hero-container {
    width: 100%;
}

.hero-title {
    margin: 30px 0px 20px 0px;
    text-align: center;
}

.hero-title h1 {
    color: var(--dark);
    margin-top: 20px;
}

.hero-img {
    background-image: url(img/OG-banner.png);
    background-position: center center;
    height: 774px;
}

.invisibleLink {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.featured-items-section {
    padding: 40px 0 40px 0;
}   

.featured-items-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 1000px;
}

.featured-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.featured-button {
    margin: 30px auto auto auto;
    display: flex;
    justify-content: center;
    width: 200%;
}

.btn {
    padding: 9px;
    background-color: var(--green);
    color: var(--gray);
    border: none;
    border-radius: 5px;
    text-align: center; 
    font-weight: 700;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.footer-section {
    padding: 20px;
    background-color: var(--dark);
}

.footer-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 940px;
}

.stay-connected {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stay-connected h2 {
    color: var(--green);
    margin-bottom: 30px;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
}

/*Roster Page*/
.roster-hero-section {
    padding-bottom: 30px;
    height: auto;
    background-image: url('img/background.png');
    background-repeat: none;
    background-position: center top;
}

.roster-hero-container {
    margin: auto;
    position: relative;
}

.roster-hero-item {
    color: var(--gray);
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.none {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--gray);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.roster-hero-item h2 {
    font-size: 2rem;    
}

.roster-hero-item h2, .roster-hero-item h3 {
    margin: 10px 0px 10px 0px;
}

.roster-hero-item p {
    width: 75%;
    margin: auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* Media Queries */
@media screen and (min-width: 700px) {
    .featured-items-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .featured-button {
        width: 400%;
    }

    .roster-hero-section {
        padding: 0 50px 30px 50px;
    }

    .roster-hero-container {
        height: auto;
        align-items: center;
    }
}
